*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.header{
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 2;
}
.container{
    display: flex;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
.left,.middle,.right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation-div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 1800px; */
    width: 100%;
    margin:0 auto;
}
.navigation{
    height:45px ;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(28, 77, 135);
    width: 50%;
    color: rgb(255, 255, 255);

}
.navigation p{
    display: flex;
    justify-content: center;
}
.navigation p a{
    text-decoration:none;
    color: rgb(255, 255, 255);

}.navigation p a:hover{
    color:#FAA831;
}

table{
    /* width: 900px; */
    border-collapse: collapse;
    margin: 50px auto;
    font-size: 20px;
    color: rgb(28, 77, 135);

}
body{
    padding-top: 140px;
}
table  tr td:nth-last-child(2),
table  tr td:nth-last-child(1) {
    color: #FAA831; 
}
.table-2:last-child {
    color: rgb(28, 77, 135);
}

table,
th,
td{
    border: 1px solid black;
}

th,td{
    padding: 10px;
}

tr:nth-child(even){
    background-color: white;
}

tr:nth-child(odd){
    background-color: #ddd;
}
table caption{
    font-weight: bold;
    font-size: 25px;
}

.table-container,
.table-container1{
    display: flex;
    justify-content: center;
    position: relative;
    width: 800px;

    margin: 30px auto;
}
.cenovnik-picture,
.cenovnik-picture1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: all 2s;
    border: 4px solid #FAA831;
    margin: 0 auto;
}

h1{
    text-align: center;
    margin-top: 30px;

}

.navigation button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes disapper {
    from {
      opacity: 1;
      width: 100%; 
      transform: translateX(0);
    }
    to {
      opacity: 0;
      width: 10%;
      transform: translateX(100%);
    }
  }

#prices,
#prices1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding:10px 30px;
    background-color: #FAA831;
    color:rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
    
}
.footer{
    background-image:url(images/footer.png);
    min-width: 100vw;
    background-position: center;
    background-size: cover;
    height:40vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    padding: 30px;

}
.footer button{
    margin-top: 20px;
    padding:10px 30px;
    background-color: #FAA831;
    color:rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    transition:all 0.8s;

}
.footer button:hover{
    background-color:rgb(28, 77, 135) ;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 800px) {
    .table-container,
    .table-container1{
    width: 75%;
}
  }
  