@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* body{
    background-color: #777777;
} */

.header{
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 2;
}
.kontejner{
    display: flex;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}



.levo,.sredina,.desno{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


#hamburger-menu {
    display: none;
    cursor: pointer;
}

#hamburger-menu img{
    width: 40px;
    margin-right: 20px;
}
.navigacija-div{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 1800px; */
    width: 100%;
    margin:0 auto;
}
.navigacija{
    height:45px ;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: rgb(28, 77, 135);
    min-width: 550px;
    width: 60%;
    color: rgb(255, 255, 255);

}

.navigacija button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigacija button img {
   min-width: 50%;
}


.navigacija p{
    display: flex;
    justify-content: center;
}
.navigacija p a{
    text-decoration:none;
    color: rgb(255, 255, 255);
}

.navigacija p a:hover{
    color:#FAA831;
}
.slika1{
    background-image: url(slike/gym.jpg);
     min-height: 100vh;
    /* width: 100vw;  */
    background-position: center;
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.slika1 p{
    margin: 0 auto;
    color:rgb(255, 255, 255);
    font-size: 20px;
    
} 
.slika1 h1{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    font-size: 4rem;
    text-shadow:0px 0px 20px #fff,0px 0px 20px #FAA831;
}
.logo{
    max-width: 100%;
}
.hero{
    /* width: 900px; */
    margin: 0 auto;
    /* padding-top: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 10%;

}
.hero button{
    margin-top: 30px;
    padding:10px 30px;
    background-color: #FAA831;
    color:rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    transition: 0,8s;
}
.hero button:hover{
    background-color:rgb(28, 77, 135) ;
}
.cena{
    color: #FAA831;
}
.cena:hover{
    color: rgb(28, 77, 135);
}

.testimonial-container{
    /* width: 900px; */
    margin: 0 auto;
    text-align: center;
}
.testimonial-container h2{
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 32px;
    /* text-shadow: 5px 10px 1px rgba(0, 0, 0, 0.3); */
    /* text-shadow:0px 0px 20px #fff,0px 0px 20px #FAA831; */
    text-shadow: 0px 0px 10px #555, 0px 0px 20px #000;


}
.siva{
    color: rgb(119, 119, 119);
}
.cenovnik{
    font-weight: 600;
    font-size: 23px;
}
.cenovnik a {
    text-decoration: none;
    color: #FAA831 ;
}
.cenovnik a:hover {
    color:rgb(28, 77, 135);
}
.testimonial-flex{
    display: flex;
    gap: 15px;
    margin: 50px 0;
    font-weight: 600;
    justify-content: center;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testimonial-flex img{
    /* display: block; */
    max-width: 100%;
}
.testimonial-flex div span:last-child{
    margin-left: auto;
}
.trening{
    display: flex;
    justify-content:center;
    gap: 20px ;
}

.donji-deo{
    margin-top:80px;
    text-align: center;
    
}
.slider{
    position: relative;
    overflow: hidden;
    height: 350px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    /* background-color: rgb(204, 200, 200); */
}
.slide{
    position: absolute;
    display: flex;
    flex-direction:row;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    transition: all 0.8s;
    
}
.slide-flex{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    color: #777777;
    font-size: 1.25rem;
}

.slider-btn{
    background-color:rgb(28, 77, 135);
    position: absolute;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    border: none;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    /* margin: 0 5px; */
}
.slider-left{
    left: 10px;
}
.slider-right{
    right: 10px;
}
.slider-btn:hover{
    background-color: #FAA831;
}
.donji-deo h2{
    font-size: 30px;
    /* text-shadow:0px 0px 20px #fff,0px 0px 10px #FAA831; */
    /* text-shadow: 5px 10px 1px rgba(0, 0, 0, 0.3); */
    text-shadow: 0px 0px 10px #555, 0px 0px 20px #000;


    
    
}
.podnaslov{
    color: #777777;
    font-size: 15px;
}

#strelica-gore{
    cursor: pointer;
    width: 70px;
    height: 70px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color:rgb(207, 202, 202) ;
    border-radius: 50%;
    position: fixed;
    right: 5%;
    bottom: 50px;
    background-color: #FAA831;
}
.up-arrow-pic{
    width: 42px;
    height: 42px;
}
#strelica-gore:hover{
    border: 5px solid rgb(28, 77, 135) ;
}

.footer{
    background-image:url(slike/footer.png);
    min-width: 95vw;
    background-position: center;
    background-size: cover;
    height:40vh;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    padding: 30px;
}
.footer button{
    margin-top: 20px;
    padding:10px 30px;
    background-color: #FAA831;
    color:rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    transition:all 0.8s;

}
.footer button:hover{
    background-color:rgb(28, 77, 135) ;
}

img {
    max-width: 100%;
}

.toggle-active{
    display: none;
}


@media screen and (max-width: 800px) {
    .testimonial-flex {
      flex-direction: column;
    }
    .hero p {
        font-size: 15px;
    }
    .hero h1 {
        font-size: 3rem;
    }
    .slide-flex{
        font-size: 0.85rem;
    }

    /* hamburger menu */

    #hamburger-menu{
        display: flex;
        justify-content: right;
        flex: 1 ;

    }

    .desno{
        display: none;
    }

    .header{
        position: static;
        height: auto;
    }

    .navigacija{
        flex-direction: column;
        height: auto;
        padding: 8px 0;
        width: 100%;
        font-size: 1.25rem;
    }

    .slika1{
        margin: auto;
    }
    
  }

  @media screen and (min-width: 801px) {
    .navigacija-div {
      display: flex;
    }
    
  }
  